
<nav class="bg-gray-800 text-white p-4">
    <div class="max-w-6xl mx-auto flex justify-between items-center">
        <h1 class="text-xl font-bold">Hotel California</h1>
        <ul class="flex gap-6">
            <li><a href="/" class="hover:underline">Accueil</a></li>
            <li><a href="/chambres" class="hover:underline">Chambres</a></li>
            <li><a href="/reservations" class="hover:underline">Réservations</a></li>
            <li><a href="/client" class="hover:underline">Clients</a></li>
        </ul>
    </div>
</nav>
