<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>404</title>
</head>
<body>
    <h1 class="text-center text-4xl">404</h1>
    <p class="text-center text-xl">Page non trouvée</p>
    <a href="/" class="text-center font-bold text-blue-600">Retour à la page d'accueil</a>
</body>
</html>
