<!DOCTYPE html>
<html>
<head>
    <title>Accueil Hôtel California</title>
</head>
<body>
    <h1>Bienvenue à l'Hôtel California</h1>
    <p>Page d'accueil de notre système de réservation d'hôtel. </p>
</body>
</html>